[com_0]
type=model
x=240
y=139
width=32
height=28
model=model_3032
zoom=604
xan=400

[com_1]
type=text
x=209
y=93
width=106
height=17
center=yes
font=q8_full
shadowed=yes
text=Congratulations!
colour=0xF5B405
activecolour=0x453C26

[com_2]
type=text
x=373
y=84
buttontype=close
width=28
height=12
font=p11_full
text=Close
colour=0x823C1A
overcolour=0xDD5817

[com_3]
type=text
x=172
y=117
width=198
height=14
center=yes
font=p12_full
text=You have completed Death Plateau!
colour=0x3F5438

[com_4]
type=model
x=118
y=161
width=85
height=105
zoom=1500
xan=11
yan=1849

[com_5]
type=text
x=220
y=245
width=76
height=14
center=yes
font=p12_full
text=Quest Points:
colour=0x2F5197

[com_6]
type=text
x=299
y=245
width=17
height=14
script1op1=pushvar,qp
center=yes
font=p12_full
text=%1
colour=0x4A5B76

[com_7]
type=model
x=376
y=209
width=32
height=32
model=model_3037
zoom=800
xan=500

[com_8]
type=text
x=221
y=139
width=96
height=14
font=p12_full
text=You are awarded:
colour=0x3F5438

[com_9]
type=text
x=224
y=158
width=8
height=14
center=yes
font=p12_full
text=0
colour=0x971F25

[com_10]
type=text
x=240
y=158
width=73
height=14
font=p12_full
text=Quest Points
colour=0x3F5438

[com_11]
type=text
x=230
y=176
width=73
height=14
center=yes
font=p12_full
text=Extra Reward
colour=0x3F5438

[com_12]
type=text
x=230
y=192
width=73
height=14
center=yes
font=p12_full
text=Extra Reward
colour=0x3F5438

[com_13]
type=text
x=230
y=208
width=73
height=14
center=yes
font=p12_full
text=Extra Reward
colour=0x3F5438

[com_14]
type=text
x=230
y=224
width=73
height=14
center=yes
font=p12_full
text=Extra Reward
colour=0x3F5438
