[com_0]
type=model
x=200
y=90
width=55
height=81
model=model_3623
zoom=643
xan=512

[skill_name]
type=text
x=53
y=30
width=72
height=17
font=q8_full
text=Skill Name

[back]
type=layer
x=48
y=65
width=342
height=200
scroll=1290

[level1]
layer=back
type=text
x=0
y=16
width=30
height=14
center=yes
font=p12_full

[level2]
layer=back
type=text
x=0
y=48
width=30
height=14
center=yes
font=p12_full

[level3]
layer=back
type=text
x=0
y=80
width=30
height=14
center=yes
font=p12_full

[level4]
layer=back
type=text
x=0
y=112
width=30
height=14
center=yes
font=p12_full

[level5]
layer=back
type=text
x=0
y=144
width=30
height=14
center=yes
font=p12_full

[level6]
layer=back
type=text
x=0
y=176
width=30
height=14
center=yes
font=p12_full

[level7]
layer=back
type=text
x=0
y=208
width=30
height=14
center=yes
font=p12_full

[level8]
layer=back
type=text
x=0
y=240
width=30
height=14
center=yes
font=p12_full

[level9]
layer=back
type=text
x=0
y=272
width=30
height=14
center=yes
font=p12_full

[level10]
layer=back
type=text
x=0
y=304
width=30
height=14
center=yes
font=p12_full

[level11]
layer=back
type=text
x=0
y=336
width=30
height=14
center=yes
font=p12_full

[level12]
layer=back
type=text
x=0
y=368
width=30
height=14
center=yes
font=p12_full

[level13]
layer=back
type=text
x=0
y=400
width=30
height=14
center=yes
font=p12_full

[level14]
layer=back
type=text
x=0
y=432
width=30
height=14
center=yes
font=p12_full

[level15]
layer=back
type=text
x=0
y=464
width=30
height=14
center=yes
font=p12_full

[level16]
layer=back
type=text
x=0
y=496
width=30
height=14
center=yes
font=p12_full

[level17]
layer=back
type=text
x=0
y=528
width=30
height=14
center=yes
font=p12_full

[level18]
layer=back
type=text
x=0
y=560
width=30
height=14
center=yes
font=p12_full

[level19]
layer=back
type=text
x=0
y=592
width=30
height=14
center=yes
font=p12_full

[level20]
layer=back
type=text
x=0
y=624
width=30
height=14
center=yes
font=p12_full

[level21]
layer=back
type=text
x=0
y=656
width=30
height=14
center=yes
font=p12_full

[level22]
layer=back
type=text
x=0
y=688
width=30
height=14
center=yes
font=p12_full

[level23]
layer=back
type=text
x=0
y=720
width=30
height=14
center=yes
font=p12_full

[level24]
layer=back
type=text
x=0
y=752
width=30
height=14
center=yes
font=p12_full

[level25]
layer=back
type=text
x=0
y=784
width=30
height=14
center=yes
font=p12_full

[level26]
layer=back
type=text
x=0
y=816
width=30
height=14
center=yes
font=p12_full

[level27]
layer=back
type=text
x=0
y=848
width=30
height=14
center=yes
font=p12_full

[level28]
layer=back
type=text
x=0
y=880
width=30
height=14
center=yes
font=p12_full

[level29]
layer=back
type=text
x=0
y=912
width=30
height=14
center=yes
font=p12_full

[level30]
layer=back
type=text
x=0
y=944
width=30
height=14
center=yes
font=p12_full

[level31]
layer=back
type=text
x=0
y=976
width=30
height=14
center=yes
font=p12_full

[level32]
layer=back
type=text
x=0
y=1008
width=30
height=14
center=yes
font=p12_full

[level33]
layer=back
type=text
x=0
y=1040
width=30
height=14
center=yes
font=p12_full

[level34]
layer=back
type=text
x=0
y=1072
width=30
height=14
center=yes
font=p12_full

[level35]
layer=back
type=text
x=0
y=1104
width=30
height=14
center=yes
font=p12_full

[level36]
layer=back
type=text
x=0
y=1136
width=30
height=14
center=yes
font=p12_full

[level37]
layer=back
type=text
x=0
y=1168
width=30
height=14
center=yes
font=p12_full

[level38]
layer=back
type=text
x=0
y=1200
width=30
height=14
center=yes
font=p12_full

[level39]
layer=back
type=text
x=0
y=1232
width=30
height=14
center=yes
font=p12_full

[level40]
layer=back
type=text
x=0
y=1264
width=30
height=14
center=yes
font=p12_full

[text1]
layer=back
type=text
x=60
y=16
width=280
height=14
font=p12_full

[text2]
layer=back
type=text
x=60
y=48
width=280
height=14
font=p12_full

[text3]
layer=back
type=text
x=60
y=80
width=280
height=14
font=p12_full

[text4]
layer=back
type=text
x=60
y=112
width=280
height=14
font=p12_full

[text5]
layer=back
type=text
x=60
y=144
width=280
height=14
font=p12_full

[text6]
layer=back
type=text
x=60
y=176
width=280
height=14
font=p12_full

[text7]
layer=back
type=text
x=60
y=208
width=280
height=14
font=p12_full

[text8]
layer=back
type=text
x=60
y=240
width=280
height=14
font=p12_full

[text9]
layer=back
type=text
x=60
y=272
width=280
height=14
font=p12_full

[text10]
layer=back
type=text
x=60
y=304
width=280
height=14
font=p12_full

[text11]
layer=back
type=text
x=60
y=336
width=280
height=14
font=p12_full

[text12]
layer=back
type=text
x=60
y=368
width=280
height=14
font=p12_full

[text13]
layer=back
type=text
x=60
y=400
width=280
height=14
font=p12_full

[text14]
layer=back
type=text
x=60
y=432
width=280
height=14
font=p12_full

[text15]
layer=back
type=text
x=60
y=464
width=280
height=14
font=p12_full

[text16]
layer=back
type=text
x=60
y=496
width=280
height=14
font=p12_full

[text17]
layer=back
type=text
x=60
y=528
width=280
height=14
font=p12_full

[text18]
layer=back
type=text
x=60
y=560
width=280
height=14
font=p12_full

[text19]
layer=back
type=text
x=60
y=592
width=280
height=14
font=p12_full

[text20]
layer=back
type=text
x=60
y=624
width=280
height=14
font=p12_full

[text21]
layer=back
type=text
x=60
y=656
width=280
height=14
font=p12_full

[text22]
layer=back
type=text
x=60
y=688
width=280
height=14
font=p12_full

[text23]
layer=back
type=text
x=60
y=720
width=280
height=14
font=p12_full

[text24]
layer=back
type=text
x=60
y=752
width=280
height=14
font=p12_full

[text25]
layer=back
type=text
x=60
y=784
width=280
height=14
font=p12_full

[text26]
layer=back
type=text
x=60
y=816
width=280
height=14
font=p12_full

[text27]
layer=back
type=text
x=60
y=848
width=280
height=14
font=p12_full

[text28]
layer=back
type=text
x=60
y=880
width=280
height=14
font=p12_full

[text29]
layer=back
type=text
x=60
y=912
width=280
height=14
font=p12_full

[text30]
layer=back
type=text
x=60
y=944
width=280
height=14
font=p12_full

[text31]
layer=back
type=text
x=60
y=976
width=280
height=14
font=p12_full

[text32]
layer=back
type=text
x=60
y=1008
width=280
height=14
font=p12_full

[text33]
layer=back
type=text
x=60
y=1040
width=280
height=14
font=p12_full

[text34]
layer=back
type=text
x=60
y=1072
width=280
height=14
font=p12_full

[text35]
layer=back
type=text
x=60
y=1104
width=280
height=14
font=p12_full

[text36]
layer=back
type=text
x=60
y=1136
width=280
height=14
font=p12_full

[text37]
layer=back
type=text
x=60
y=1168
width=280
height=14
font=p12_full

[text38]
layer=back
type=text
x=60
y=1200
width=280
height=14
font=p12_full

[text39]
layer=back
type=text
x=60
y=1232
width=280
height=14
font=p12_full

[text40]
layer=back
type=text
x=60
y=1264
width=280
height=14
font=p12_full

[levelinv]
layer=back
type=inv
x=26
y=7
width=1
height=30

[levelinv2]
layer=back
type=inv
x=26
y=967
width=1
height=10

[level]
type=text
x=48
y=50
width=30
height=14
center=yes
font=p12_full
text=Level

[advancement]
type=text
x=108
y=50
width=77
height=14
font=p12_full
text=Advancement

[opbacktop]
type=layer
x=413
y=18
width=88
height=180

[com_86]
layer=opbacktop
type=graphic
x=0
y=0
width=88
height=60
graphic=tradebacking,0

[com_87]
layer=opbacktop
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_88]
layer=opbacktop
type=graphic
x=-15
y=18
width=36
height=36
graphic=miscgraphics,2

[com_89]
layer=opbacktop
type=graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[com_90]
layer=opbacktop
type=graphic
x=38
y=-15
width=36
height=36
graphic=steelborder2,0

[com_91]
layer=opbacktop
type=graphic
x=63
y=0
width=25
height=30
graphic=steelborder,1

[com_92]
layer=opbacktop
type=graphic
x=67
y=20
width=36
height=36
graphic=steelborder2,1

[com_93]
layer=opbacktop
type=graphic
x=25
y=45
width=36
height=36
graphic=miscgraphics,3

[com_94]
layer=opbacktop
type=graphic
x=0
y=36
width=25
height=30
graphic=steelborder,2

[com_95]
layer=opbacktop
type=graphic
x=35
y=45
width=36
height=36
graphic=miscgraphics,3

[com_96]
layer=opbacktop
type=graphic
x=63
y=36
width=25
height=30
graphic=steelborder,3

[com_97]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[guide23]
type=layer
x=413
y=18
width=88
height=180

[com_99]
layer=guide23
type=graphic
x=0
y=60
width=88
height=60
graphic=tradebacking,0

[com_100]
layer=guide23
type=graphic
x=67
y=60
width=36
height=36
graphic=steelborder2,1

[com_101]
layer=guide23
type=graphic
x=-15
y=60
width=36
height=36
graphic=miscgraphics,2

[com_102]
layer=guide23
type=graphic
x=0
y=96
width=25
height=30
graphic=steelborder,2

[com_103]
layer=guide23
type=graphic
x=63
y=96
width=25
height=30
graphic=steelborder,3

[com_104]
layer=guide23
type=graphic
x=25
y=105
width=36
height=36
graphic=miscgraphics,3

[com_105]
layer=guide23
type=graphic
x=39
y=105
width=36
height=36
graphic=miscgraphics,3

[com_106]
layer=guide23
type=graphic
x=9
y=39
width=72
height=36
graphic=combatboxes,2

[com_107]
layer=guide23
type=graphic
x=9
y=58
width=72
height=36
graphic=combatboxes,2

[op2]
layer=guide23
type=text
x=10
y=49
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Bronze
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[op3]
layer=guide23
type=text
x=10
y=68
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Iron
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide4]
type=layer
x=413
y=18
width=88
height=180

[com_111]
layer=guide4
type=graphic
x=9
y=77
width=72
height=36
graphic=combatboxes,2

[op4]
layer=guide4
type=text
x=10
y=87
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Steel
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide5]
type=layer
x=413
y=18
width=88
height=180

[com_114]
layer=guide5
type=graphic
x=0
y=120
width=88
height=60
graphic=tradebacking,0

[com_115]
layer=guide5
type=graphic
x=-15
y=114
width=36
height=36
graphic=miscgraphics,2

[com_116]
layer=guide5
type=graphic
x=0
y=150
width=25
height=30
graphic=steelborder,2

[com_117]
layer=guide5
type=graphic
x=63
y=150
width=25
height=30
graphic=steelborder,3

[com_118]
layer=guide5
type=graphic
x=25
y=159
width=36
height=36
graphic=miscgraphics,3

[com_119]
layer=guide5
type=graphic
x=67
y=114
width=36
height=36
graphic=steelborder2,1

[com_120]
layer=guide5
type=graphic
x=44
y=159
width=36
height=36
graphic=miscgraphics,3

[com_121]
layer=guide5
type=graphic
x=9
y=96
width=72
height=36
graphic=combatboxes,2

[op5]
layer=guide5
type=text
x=10
y=106
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Mithril
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide6]
type=layer
x=413
y=18
width=88
height=180

[com_124]
layer=guide6
type=graphic
x=9
y=115
width=72
height=36
graphic=combatboxes,2

[op6]
layer=guide6
type=text
x=10
y=125
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Adamant
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide7]
type=layer
x=413
y=18
width=88
height=180

[com_127]
layer=guide7
type=graphic
x=9
y=134
width=72
height=36
graphic=combatboxes,2

[op7]
layer=guide7
type=text
x=10
y=144
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Rune
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide1]
type=layer
x=413
y=18
width=88
height=180

[com_130]
layer=guide1
type=graphic
x=9
y=20
width=72
height=36
graphic=combatboxes,2

[op1]
layer=guide1
type=text
x=10
y=30
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Smelting
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[skill_members]
type=text
x=264
y=39
width=125
height=17
font=q8_full
text=Members only skill
colour=0xAA0000

[guide8]
type=layer
x=413
y=122
width=88
height=180

[com_136]
layer=guide8
type=graphic
x=0
y=68
width=88
height=60
graphic=tradebacking,0

[com_137]
layer=guide8
type=graphic
x=-15
y=62
width=36
height=36
graphic=miscgraphics,2

[com_138]
layer=guide8
type=graphic
x=0
y=98
width=25
height=30
graphic=steelborder,2

[com_139]
layer=guide8
type=graphic
x=63
y=98
width=25
height=30
graphic=steelborder,3

[com_140]
layer=guide8
type=graphic
x=25
y=107
width=36
height=36
graphic=miscgraphics,3

[com_141]
layer=guide8
type=graphic
x=67
y=62
width=36
height=36
graphic=steelborder2,1

[com_142]
layer=guide8
type=graphic
x=44
y=107
width=36
height=36
graphic=miscgraphics,3

[com_143]
layer=guide8
type=graphic
x=9
y=49
width=72
height=36
graphic=combatboxes,2

[op8]
layer=guide8
type=text
x=10
y=59
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 8
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide9]
type=layer
x=413
y=70
width=88
height=232

[com_146]
layer=guide9
type=graphic
x=9
y=120
width=72
height=36
graphic=combatboxes,2

[op9]
layer=guide9
type=text
x=10
y=130
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 9
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000

[guide10]
type=layer
x=413
y=70
width=88
height=232

[com_149]
layer=guide10
type=graphic
x=9
y=139
width=72
height=36
graphic=combatboxes,2

[op10]
layer=guide10
type=text
x=10
y=149
buttontype=normal
width=70
height=18
center=yes
font=p12_full
shadowed=yes
text=Op 10
colour=0xFFFFFF
activecolour=0xFF0000
overcolour=0xFF0000
